<!DOCTYPE html>
<html>
    <head>
        <title>Etienne's Profile</title>
        <link rel="stylesheet" href="static/css/profile.css">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h1>CV</h1>
            <h2>Etienne Vassallo-Huet</h2>
            <img src="static/img/Photos/EtiennePhoto.png" alt="Italian Trulli", width="200" height="200">
        </header>

        <section>
            <h2>Who am I ?</h2>
                <div class="exp">
                <div class="exp-logo">
                    <img src="static/img/Photos/PhotoEcam.png" alt="Italian Trulli", width="100" height="70">
                </div>
                <div class="exp-desc">
                    <p>- A Student in general engineering</p><br>
                    <p>- I Study at the Ecam Lyon in France</p><br>
                    <p>- My wish is to be able to work in a company like Tesla</p>
                </div>
                </div>
                <div class="exp">
                <div class="exp-logo">
                    <img src="static/img/Photos/TeamWorkPhoto.jpeg" alt="Italian Trulli", width="100" height="100">
                </div>
                <div class="exp-desc">
                    <p>- Someone that likes to work in a team with other students or ingeneers. </p><br>
                    <p>- I think that working in teams takes more time at the begining but that it allows to create a far better result at the end </p>
                </div>
                </div>
                <div class="exp">
                <div class="exp-logo">
                    <img src="static/img/Photos/Dynamic.jpeg" alt="Italian Trulli", width="100" height="100">
                </div>
                <div class="exp-desc">
                    <p>- A dynamic Person, ready for the job</p><br>
                    <p>- When I like what I do I can work a lot of jours in order to get the job done</p>
                </div>
                </div>
        </section>
        <section>
            <h2>Professional exepriences</h2>
                <div class="exp">
                <div class="exp-logo">
                    <img src="static/img/Photos/VinciPhoto.png" alt="Italian Trulli", width="100" height="100">
                </div>
                <div class="exp-desc">
                    <p>- Internship in the french highway company Vinci Autoroutes</p><br>
                    <p>- The internships lasted for three months during the summer of 2021</p><br>
                    <p>- This internship allowed me to gain skill in the organization of the maintenance in big companies</p>
                </div>
                </div>
                <div class="exp">
                <div class="exp-logo">
                    <img src="static/img/Photos/FivesPhoto.png" alt="Italian Trulli", width="100" height="70">
                </div>
                <div class="exp-desc">
                    <p>- Internship of 1 month at fives maintenance. </p><br>
                    <p>- I learned how to maintain heavy equipments</p>
                </div>
                </div>
                <div class="exp">
                <div class="exp-logo">
                    <img src="static/img/Photos/FestivalAvignonPhoto.jpeg" alt="Italian Trulli", width="100" height="70">
                </div>
                <div class="exp-desc">
                    <p>- Helper at the theater festival of avignon during the last three summers</p>
                </div>
                </div>
        </section>
    </body>
</html>